@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Completed Successfully!</h1>
        Order Number : @Model <br /><br />
        <img src="~/images/thanks.png" width="40%" height="50%" alt="Thank you for your purchase!" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        The payment has been applied successfully! <br />
        <a asp-area="Admin"
           asp-controller="Order"
           asp-action="Details"
           asp-route-orderId="@Model" class="btn btn-primary">Back to Order Details</a>

    </div>

</div>