@{
    ViewData["Title"] = "Data Deletion Instructions";
}

<h1>Data Deletion Instructions</h1>
<p>
    If you want your data removed from our system, please contact us at
    <a href="mailto:jihadmonir460@gmail.com">jihadmonir460@gmail.com</a>
    with your Facebook account details. We will delete your data within 48 hours.
</p>
